<div class="card-group">

    @model IEnumerable<User>
    @{ int count = 0;}
    @foreach (var u in Model)
    {
        <div class="card">
            <img class="card-img-top" src="/images/users/@u.getProfileImageString()" onerror="standby(@count)">
            <div class="card-body">
                <h5 class="card-title">@u.Name</h5>
                <h6>Bio:</h6>
                <p class="card-text">@u.Bio</p>
                <br />
                <h6>Skills:</h6>
                <p class="card-text">@u.Skills</p>
            </div>
        </div>
        count = count + 1;
    }

</div>