<div class="card-group">

    <div class="card">
        <img class="card-img-top" src="/images/categories/horse_racing.jpg">
        <div class="card-body">
            <a href="/Events/Events" class="custom-card">
                <h5 class="card-title">Events</h5>
            </a>
            <p class="card-text">Upoming events</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="/images/general/members.jpg">
        <div class="card-body">
            <a href="/Members/Members" class="custom-card">
                <h5>Meet our members!</h5>
                </a>
             <p class="card-text">They make sure everything runs smoothly without interruption.</p>
             <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="/images/general/stadium.jpg">
        <div class="card-body">
            <a href="/AboutUs/AboutUs" class="custom-card">
                <h5 class="card-title">About us</h5>
            </a>
            <p class="card-text">ASDF are a Sporting events organisation. We organise a variety of sporting events.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>

</div>

